<div class="aside-wrap">
  <h2 class="aside-where">В Особистому кабінеті</h2>
  <div class="aside-foto">
    <img src="../../../../assets/images/Avatar_funny.png" alt="funny_animal_image" />
  </div>
  <h3 class="aside-role">Адміністратор</h3>
  <ul class="aside-list">
    <li class="aside-edit">
      Редагувати
      <img src="" alt="" />
    </li>
    <li class="aside-delete">
      Видалити
      <img src="../../../../assets/icons/delete_icon.svg" alt="delete_icon" />
    </li>
  </ul>
</div>
