<app-progress-bar [isLoading]="isEditUserLoaded$ | async"></app-progress-bar>
<aside>
  <ng-container *ngIf="asideState$ | async as asideState">
    <ng-container [ngSwitch]="asideState">
      <ng-container *ngSwitchCase="AsidePanel.Profile">
        <h4 class="aside-title">В особистому кабінеті</h4>
        <app-user-info fontsize="16px"></app-user-info>
        <div class="aside-control">
          <div class="control-btns">
            <app-button customClass="icon-btn" (buttonClick)="openEditProfile(editPofileModal)">
              <div>Редагувати</div>
              <app-svg-icon [iconId]="icons.Edit"></app-svg-icon>
            </app-button>
          </div>
          <div class="logout">
            <app-button customClass="icon-btn-not-fill" (buttonClick)="userServise.logout()">
              <div>Вийти з акаунта</div>
              <app-svg-icon [iconId]="icons.Logout"></app-svg-icon>
            </app-button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="AsidePanel.Chat">
        <img [src]="ChatsImages['1']" alt="Chat Icon" />
        <h4 class="aside-title">В кімнаті “Управління будинком”</h4>
        <div class="aside-control">
          <div class="control-btns">
            <app-button customClass="icon-btn">
              <div>Вирішені питання</div>
              <app-svg-icon [iconId]="icons.Filter"></app-svg-icon>
            </app-button>
            <app-button customClass="icon-btn">
              <div>Питання на розгляді</div>
              <app-svg-icon [iconId]="icons.Filter"></app-svg-icon>
            </app-button>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</aside>

<ng-template #editPofileModal>
  <app-modal>
    <ng-container modal-body>
      <div class="modal-body">
        <p>Оберіть аватар</p>
        <app-carousel
          [activeImageID]="userAvatarID$ | async"
          class="carousel"
          [images]="images"
          (imageClicked)="userServise.handleImageClick($event)"
        ></app-carousel>
        <form
          [formGroup]="editUserNameForm"
          class="modal-form"
          (ngSubmit)="handleUsernameEditSubmit()"
        >
          <app-form-control
            label="Новий нікнейм"
            name="username"
            [control]="editUserNameForm.get('username')"
            type="text"
            placeholder="нікнейм"
          ></app-form-control>
          <app-error-message [error]="userError" *ngIf="userError"></app-error-message>
          <app-button type="submit" [disabled]="editUserNameForm.invalid">Зберегти</app-button>
        </form>
      </div>
    </ng-container>
  </app-modal>
</ng-template>
