<div class="user-info">
  <app-user-info [avatarSrc]="avatarSrc" [username]="username"></app-user-info>
</div>
<nav id="chats-nav">
  <ul>
    <li>
      <a routerLink="/chats/{{ 1 }}" routerLinkActive="is-active">Управління будинком</a>
    </li>
    <li>
      <a routerLink="/chats/{{ 2 }}" routerLinkActive="is-active">Управління будинком</a>
    </li>
    <li>
      <a routerLink="/chats/{{ 3 }}" routerLinkActive="is-active">Управління будинком</a>
    </li>
    <li>
      <a routerLink="/chats/{{ 4 }}" routerLinkActive="is-active">Управління будинком</a>
    </li>
  </ul>
</nav>
