<div class="modal-content">
  <div class="modal-header">
    <div class="cols-layout-start-beetwen">
      <h3>{{ data.headerMessage }}</h3>
      <img class="modal-icon" [src]="data.icon" alt="Modal Icon" />
    </div>
    <ng-content select="[modal-header]"></ng-content>
  </div>
  <div class="modal-body">
    <ng-content select="[modal-body]"></ng-content>
  </div>
  <div class="modal-bottom" *ngIf="data?.showSubmitBtn">
    <app-button (buttonClick)="handleSubmit()"> {{ data.buttonText }}</app-button>
  </div>
</div>
<div class="modal-close" *ngIf="data?.showCloseBtn">
  <app-button customClass="close__btn" (buttonClick)="closeDialog()">
    <img src="assets/icons/close_icon.svg" alt="" />
  </app-button>
</div>
