<div class="modal-content">
  <div class="modal-header">
    <div class="cols-layout-start-beetwen">
      <h3 *ngIf="data.headerMessage">{{ data.headerMessage }}</h3>
      <img *ngIf="data.icon" class="modal-icon" [src]="data.icon" alt="Modal Icon" />
    </div>
    <ng-content select="[modal-header]"></ng-content>
  </div>
  <div>
    <ng-content class="modal-body" select="[modal-body]"></ng-content>
  </div>
  <div>
    <ng-content class="modal-bottom" select="[modal-bottom]"></ng-content>
    <div class="modal-bottom" *ngIf="data.showSubmitBtn">
      <app-button (buttonClick)="handleSubmit()"> {{ data.buttonText }}</app-button>
    </div>
  </div>
</div>
<div class="modal-close" *ngIf="data?.showCloseBtn">
  <app-button customClass="close__btn" (buttonClick)="closeDialog()">
    <img src="assets/icons/close_icon.svg" alt="" />
  </app-button>
</div>
