<app-pages-layout>
  <ng-container pageTitle>Чатики</ng-container>
  <h2 pageHeader class="page-title">Кімнати для обговорень</h2>
  <div pageBody>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus at eaque quae dolorem, illo
    eligendi vitae et, tenetur fugit, laboriosam debitis aut nobis obcaecati animi deleniti nesciunt
    fugiat quam totam. Unde perspiciatis vero ratione omnis earum quo atque dolor modi sint
    architecto laborum nobis ea labore voluptatem maiores, molestias repellat ad sed veniam,
    suscipit a libero soluta? Ut, illum possimus! Fugit deserunt facilis hic, tempora earum dicta,
    reprehenderit modi iure laboriosam sint voluptates animi repudiandae quas voluptatem officiis
    consequuntur, odit repellendus expedita. Quas quisquam doloremque quam aliquid porro mollitia
    exercitationem. Quibusdam, nostrum ad quam, error repellat odit ipsam velit, nemo repudiandae
    ipsa a? Eaque consectetur doloribus voluptates sequi ullam dolores soluta quae rerum sint
    dolorem. Nesciunt id est veniam dolorum! Quaerat dolorum aliquid, necessitatibus tenetur,
    voluptas ipsum vitae ullam alias consequuntur eum quasi omnis cupiditate aliquam perspiciatis
    at, non sequi! Ut quibusdam impedit doloribus harum non quasi inventore corrupti dolor!
  </div>
</app-pages-layout>
