<app-pages-layout>
  <ng-container pageTitle>Чатики</ng-container>
  <h2 pageHeader class="page-title">Кімнати для обговорень</h2>
  <div pageBody>
    <div *ngFor="let room of roomsData$ | async | toArray; let i = index">
      <app-management-card>
        <ng-container title>{{ i + 1 }}.{{ room.name }}</ng-container>
        <ng-container subTitle>{{ room.membersQuantity || 0 }} мешканців</ng-container>
        <ng-container additional *ngIf="(authService.getCurrentRole() | async) === UserRole.Admin">
          <button class="icon-btn" (click)="openEditRoomDialog(editRoomModal, room.id)">
            <app-svg-icon [iconId]="icons.Edit"></app-svg-icon>
          </button>
        </ng-container>
      </app-management-card>
    </div>
  </div>
</app-pages-layout>

<ng-template #editRoomModal>
  <app-modal>
    <ng-container modal-body class="modal">
      <form [formGroup]="editRoomForm" class="modal-form" (ngSubmit)="handleEditRoomSubmit()">
        <app-form-control
          label="Введіть нову назву"
          name="name"
          [control]="editRoomForm.get('name')"
          [isRequired]="true"
          type="text"
          placeholder="Нова назва"
        ></app-form-control>
        <app-error-message [error]="roomError" *ngIf="roomError"></app-error-message>
        <app-button type="submit" [disabled]="editRoomForm.invalid">Змінити</app-button>
      </form>
    </ng-container>
  </app-modal>
</ng-template>
