<div class="main-wrap">
  <div class="main-nav">
    <div class="main-nav-role">
      <img src="assets/images/Avatar_funny.png" alt="funny avatar" />
      <h3 class="role-title">Адміністратор</h3>
    </div>
    <div class="main-list">
      <!-- <ul> -->
      <a class="white-marker">Чатики</a>
      <a>Управління будинком</a>
      <a>Безпека та Блогоустрій</a>
      <a>Фінансові питання</a>
      <a>Комунікація та спілкування</a>
      <!-- </ul> -->
    </div>
  </div>
  <div class="main-content">
    <h2 class="room-title">Кімнати для обговорення</h2>
    <div class="main-content-list">
      <a>
        <h3>1.Управління будинком</h3>
        <span>0 мешканців</span>
      </a>
      <a>
        <h3>2.Безпека та Блогоустрій</h3>
        <span>0 мешканців</span>
      </a>
      <a>
        <h3>3.Фінансові питання</h3>
        <span>0 мешканців</span>
      </a>
      <a>
        <h3>4.Комунікація та спілкування</h3>
        <span>0 мешканців</span>
      </a>
    </div>
  </div>
</div>
