@import 'variables';

$default-icon-size: 24px;

$icons: (
  profile: #f6f6f6,
  members: #f6f6f6,
  chat: none,
  logout: none,
);

$iconsDimensions: (
  edit: (
    width: 20px,
    height: 20px,
  ),
  basket: (
    width: 20px,
    height: 20px,
  ),
  members: (
    width: 22px,
    height: 22px,
  ),
  profile: (
    width: 22px,
    height: 22px,
  ),
  chat: (
    width: 22px,
    height: 22px,
  ),
);

$iconsStroke: (
  chat: (
    color: #f6f6f6,
    width: 2,
    linecap: round,
    linejoin: round,
  ),
  logout: (
    color: $primaryFontColor,
    width: 1.5,
    linecap: round,
    linejoin: round,
  ),
);

.icon {
  transition: none;
  width: $default-icon-size;
  height: $default-icon-size;
}

@each $name, $dimensions in $iconsDimensions {
  .icon-#{$name} {
    width: map-get($dimensions, width);
    height: map-get($dimensions, height);
  }
}

@each $name, $color in $icons {
  .icon-#{$name} {
    fill: $color;

    @if map-has-key($iconsStroke, $name) {
      $stroke-properties: map-get($iconsStroke, $name);
      stroke: map-get($stroke-properties, color);
      stroke-width: map-get($stroke-properties, width);
      stroke-linecap: map-get($stroke-properties, linecap);
      stroke-linejoin: map-get($stroke-properties, linejoin);
    }
  }
}
