@import 'variables';

:host {
  display: flex;
  align-items: center;
  border: 1px solid black;
  background-color: $snackBarColor !important;
  border-radius: $secondaryBorderRadius;
  padding: 0 8px;
}

.btn {
  cursor: pointer;
}

.text {
  color: black;
}
